.card-list {
  padding: 70px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  gap: 30px 24px;
  justify-items: center;
}

@media screen and (max-width: 1023px) {
  .card-list {
    gap: 36px 30px;
  }
}

@media screen and (max-width: 575px) {
  .card-list {
    padding-top: 40px;
    gap: 16px;
  }
}