.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  .paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 575px) {
  .paragraph {
    font-size: 11px;
  }
}