.app {
  font-family: 'Inter', Arial, sans-serif;
  color: var(--font-main-color);
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.app_theme_dark {
  /* -переменные- */
    /* фон */
  --bg-main-color: #202020;
  --bg-accent-color: #272727;
  --bg-landing-color: #073042;
    /* шрифты */
  --font-main-color: #fff;
  --font-accent-color: #000;
  --font-transp-color: #8b8b8b;
    /* карточки */
  --card-bg-color: #222;
    /* элементы */
  --landing-elements-color: #303030;
  --main-elements-color: #313131;
  --title-divider-color: #dadada;
  --divider-color: #424242;
  --divider-color-light: #e5e5e5;
  --input-border-color: #aaa;
  --more-bnt-color: #2f2f2f;
    /* checkbox */
  --checkbox-bg: #3ddc84;
  --checkbox-bg-disabled: #343434;
  --checkbox-circle: #fff;
  --checkbox-circle-disabled: #a0a0a0;
    /* акцентные цвета */
  --bright-color: #3ddc84;
  --bright-color-darker: #17806e;
  --bright-color-lighter: #68d4c6;
  --error-color: #cf252c;
    /* rgb */
  --rgb-font-main-color: 255, 255, 255;
  --rgb-bright-color: 61, 220, 132;
  --rgb-input-border-color: 170, 170, 170;
}

.app__section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px;
  box-sizing: border-box;
}

.app__section-title {
  width: 100%;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--title-divider-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.app__link {
  color: var(--font-main-color);
  text-decoration: none;
  transition: .2s linear;
}

.app__link:hover {
  opacity: .7;
}

.app__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: .2s linear;
  border: none;
  outline: 0;
}

.app__button:hover {
  opacity: .8;
}

.app__button:disabled {
  pointer-events: none;
  user-select: none;
}

.app-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.app__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  .app__section {
    padding: 90px 50px;
  }

  .app__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 575px) {
  .app__section {
    padding: 70px 18px;
  }

  .app__section-title {
    padding-bottom: 28px;
    font-size: 18px;
  }

  .app__paragraph {
    font-size: 11px;
  }
}