/* для экранов от 320px */
.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  transition: .4s linear;
  visibility: hidden;
  opacity: 0;
}

.navigation_visible {
  visibility: visible;
  opacity: 1;
}

.navigation__menu {
  position: fixed;
  top: 0;
  right: -100%;
  margin: 0;
  padding: 144px 10px 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-main-color);
  transition: .4s linear;
  z-index: 1;
}

.navigation__menu_active {
  right: 0;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.navigation__list-item {
  margin-top: 24px;
}

.navigation__list-item:first-of-type {
  margin-top: 0;
}

.navigation__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.navigation__link_active {
  position: relative;
}

.navigation__link_active::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 72px;
  height: 2px;
  background-color: var(--font-main-color);
}

.navigation__profile {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--font-main-color);
  text-decoration: none;
  transition: .2s linear;
}

.navigation__profile-icon-area {
  position: relative;
  top: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  width: 30px;
  height: 30px;
  background-color: var(--main-elements-color);
  border-radius: 6px;
}

.navigation__profile-icon {
  width: 11px;
  height: 11px;
}

.navigation__profile-svg {
  fill: var(--font-main-color);
}

.navigation__profile:hover .navigation__profile-icon {
  animation: rotate .3s linear 2;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

/* для экранов от 576px */

@media screen and (min-width: 576px) {
  .navigation__menu {
    padding: 160px 90px 90px;
    width: 520px;
  }

  .navigation__list-item {
    margin-top: 28px;
  }
}

/* для экранов от 1024px */

@media screen and (min-width: 1024px) {
  .navigation {
    position: static;
    background-color: unset;
    transition: none;
    visibility: visible;
    opacity: 1;
  }

  .navigation__menu {
    position: static;
    right: 0;
    padding: 0;
    width: unset;
    height: unset;
    background-color: unset;
    transition: unset;
    flex-direction: row;
  }

  .navigation__list {
    flex-direction: row;
    text-align: right;
    margin-right: 50px;
  }

  .navigation__list-item {
    margin-top: 0;
    margin-right: 20px;
  }

  .navigation__list-item:last-of-type {
    margin-right: 0;
  }

  .navigation__list-item_link-direction_main-page {
    display: none;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }

  .navigation__link_active {
    font-weight: 500;
  }

  .navigation__link_active::after {
    content: none;
  }
}