.navigation__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.navigation__list {
  margin: 0 50px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.navigation__list-item {
  margin-right: 20px;
}

.navigation__list-item:first-of-type {
  margin-top: 0;
}

.navigation__list-item_link-direction_main-page {
  display: none;
}

.navigation__link {
  font-weight: 400;
  font-size: 14px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__profile {
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--font-main-color);
  text-decoration: none;
  transition: .2s linear;
}

.navigation__profile-icon-area {
  position: relative;
  top: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  width: 30px;
  height: 30px;
  background-color: var(--main-elements-color);
  border-radius: 6px;
}

.navigation__profile-icon {
  width: 11px;
  height: 11px;
}

.navigation__profile-svg {
  fill: var(--font-main-color);
}

.navigation__profile:hover .navigation__profile-icon {
  animation: rotate .3s linear 2;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 1023px) {
  .navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: .4s linear;
    visibility: hidden;
    opacity: 0;
  }

  .navigation_visible {
    visibility: visible;
    opacity: 1;
  }

  .navigation__menu {
    position: fixed;
    top: 0;
    right: -100%;
    margin: 0;
    padding: 160px 90px 90px;
    width: 100vw;
    max-width: 520px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--bg-main-color);
    transition: .4s linear;
    z-index: 1;
  }

  .navigation__menu_active {
    right: 0;
  }

  .navigation__list {
    margin-right: 0;
    flex-direction: column;
    text-align: center;
  }

  .navigation__list-item {
    margin-right: 0;
    margin-top: 28px;
  }

  .navigation__list-item_link-direction_main-page {
    display: block;
  }

  .navigation__list-item:first-of-type {
    margin-top: 0;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
  }

  .navigation__link_active {
    position: relative;
  }

  .navigation__link_active::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 72px;
    height: 2px;
    background-color: var(--font-main-color);
  }
}

@media screen and (max-width: 575px) {
  .navigation__menu {
    padding: 144px 10px 50px;
    max-width: unset;
  }

  .navigation__list-item {
    margin-top: 24px;
  }
}