.search {
  padding: 80px 0 10px;
}

.search__form {
  padding-bottom: 83px;
  border-bottom: 1px solid rgba(var(--rgb-input-border-color), .2);
}

.search__film-info {
  display: grid;
  grid-template-columns: 1fr 170px;
  gap: 40px;
  align-items: center;
}

.search__input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px 6px 22px;
  box-sizing: border-box;
  border: 1.5px solid rgba(var(--rgb-input-border-color), .2);
  border-radius: 50px;
  transition: .2s linear;
}

.search__input-wrap:focus-within {
  box-shadow: 0 0 7px rgba(var(--rgb-bright-color), .3);
}

.search__form-input {
  flex: 1;
  width: 100%;
  padding: 0;
  margin-right: 45px;
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--font-main-color);
}

.search__form-input::placeholder {
  color: var(--font-transp-color);
}

.search__form-btn {
  width: 34px;
  height: 34px;
  border-radius: 48px;
  background: url('../../images/icons/search-icon.svg') center / 22px no-repeat;
  background-color: var(--bright-color);
}

.search__checkbox {
  display: grid;
  grid-template-columns: 1fr 36px;
  gap: 14px;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .search {
    padding-top: 60px;
  }

  .search__form {
    padding-bottom: 55px;
  }

  .search__film-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .search__input-wrap {
    padding-left: 18px;
  }

  .search__checkbox {
    margin: 0 auto;
    width: fit-content;
  }
}

@media screen and (max-width: 575px) {
  .search__form {
    padding-bottom: 45px;
  }

  .search__film-info {
    gap: 45px;
  }

  .search__form-input {
    font-size: 11px;
    line-height: 1.6;
  }

  .search__checkbox {
    font-size: 11px;
    line-height: 1.6;
  }
}